<section>
    <hr>
    <div class="mt-2">
        
        <h5>VALIDADORES ASSÍNCRONOS</h5>
        <label for="name">Nome:</label>
        <input type="text" id="name" [formControl]="nome" />
         
        <div class="mt-2">
            <p style="color: orange;" *ngIf="nome.pending">Validando...</p>
            <p style="color:green" *ngIf="!nome.pending && !nome.hasError('userValidator') && nome.valid && nome.dirty">Usuario Existente.</p>
            <p style="color: red;" *ngIf="!nome.pending && nome.hasError('userValidator') && !nome.valid && nome.dirty">Usuário Inexistente.</p>
        </div>

        <p>Válido: {{nome.valid}}</p>
        
     </div>
</section>