 .container{
    width: 100%;
    padding: 0;
    border: 2px solid;

        .top-div{
            width: 100%;
            height: 10vh;
            background-color: blue;        
    
        }

        .main-div{
            display: flex;
            width: 100%;
            height: 60vh;

            .left-div{
                // background-color: green;     
                width: 70%;
 
            }

            .right-div{
                background-color: rgb(241, 142, 12);     
                width: 30%;
 
            }
        }
        
    
  
 
    

 }