<div class="card">
    <!-- <div class="card__plan card__item">Plano <b>{{tipo}}</b></div> -->
    <!-- <div class="card__price card__item">R${{preco}}/Mês</div> -->
    <!-- <div class="card__price card__item">{{getFullPrice()}}</div> -->
    
    <div class="card__plan card__item">Plano <b>{{plano.infos.tipo}}</b></div>
    <div class="card__price card__item">{{plano.infos.preco}}</div>

    <app-card-btn></app-card-btn>
    <app-card-btn-cancel></app-card-btn-cancel>

 </div>

<hr>
    
<h2>Usando o Optional Chain para resolver o erro que ocorre quando
    uma propriedade ainda não recebe nenhum valor.
</h2>

<div class="card">
    
    <div class="card__plan card__item">Serviço <b>{{servico.infos?.tipo}}</b></div>
    <div class="card__price card__item">{{servico.infos?.preco}}</div>

    <app-card-btn></app-card-btn>
    <app-card-btn-cancel></app-card-btn-cancel>

 </div>

 <h2>Montando o card com as regras a fim de evitar valores nullos</h2>

 <div class="card">
    
    
    <div class="card__plan card__item">Curso <b>{{curso.infos.tipo}}</b></div>
    <div class="card__price card__item">{{curso.infos.preco}}</div>

    <app-card-btn></app-card-btn>
    <app-card-btn-cancel></app-card-btn-cancel>

 </div>