<div class="container">
    <h1>REACTIVE FORMS</h1>
    <section>
        <article>
            <h3>Campos</h3>
            <p>
                O que são Reactive Forms? <br>
                    Reactive Forms (Formulários Reativos) são uma das duas abordagens principais que o Angular oferece para trabalhar com formulários (a outra é Template-Driven Forms). <br>

                    Características dos Reactive Forms: <br>
                    ✅ Lógica do formulário é definida no TypeScript, não no HTML <br>
                    ✅ Formulários são reativos — ou seja, você pode reagir programaticamente a eventos e mudanças de valor <br>
                    ✅ Ideal para formulários mais complexos e dinâmicos <br>
                    ✅ Fácil de fazer validações customizadas, integrar com APIs, ou gerar campos dinamicamente <br>
                     
            </p>
            <p>🧩 O que é FormControl? <br>
                FormControl é uma classe do Angular usada para representar um único campo de formulário. Ele é parte da abordagem reativa de construção de formulários. <br>
                
                Ele serve para: <br>
                ✅  Controlar o valor do campo <br>
                ✅  Observar mudanças nesse valor <br>
                ✅  Validar os dados (ex: campo obrigatório, e-mail, etc) <br>
                ✅  Marcar como tocado, sujo, válido, inválido, etc. <br>
                ✅  Cada campo será um unico Form Control.</p>
        </article>
    </section>

    <section class="mt-5">
        <h2>Exemplos</h2>
        <article>
            <app-aula-264></app-aula-264>
            <app-aula-265></app-aula-265>
            <app-aula-266></app-aula-266>
        </article>
    </section>
</div>