<div class="p-3">
    <h1>Introdução</h1> 
        <p>
        ​As visualizações adiáveis, introduzidas no Angular 17 e aprimoradas no Angular 19, permitem que os desenvolvedores atrasem o carregamento de componentes, diretivas e pipes não essenciais até que sejam necessários, melhorando os tempos de carregamento iniciais e o desempenho geral da aplicação.
        </p>
        <p>
        Ao envolver partes do seu template com o bloco "defer", você instrui o Angular a adiar o carregamento desses elementos até que certas condições sejam atendidas, como quando o navegador está ocioso ou quando o conteúdo entra na área visível do usuário. ​
        </p>
        Além disso, o Angular fornece sub-blocos dentro do 'defer' para gerenciar diferentes estágios de carregamento:​
        <p>

        <p>
        <br>placeholder: Exibe conteúdo antes que o bloco defer seja acionado.
        <br>loading: Mostra conteúdo enquanto as dependências adiadas estão sendo carregadas.​
        <br>error: Apresenta conteúdo caso o carregamento falhe.​
        </p>
</div>

 