<section>
    <hr>
    <div class="mt-2">
        
        <h5>MENSAGENS DE ERRO</h5>
        <label for="name">Nome:</label>
        <input class="mx-2" type="text" id="name" [formControl]="nome"/>
        <p>Valor: {{nome.value}}</p>
        <p>Valido:{{nome.valid}}</p>

        <div style="color:red">
            <span *ngIf="nome.hasError('required')">O campo nome é obrigatório</span>
            <span *ngIf="nome.hasError('minlength')&& !nome.hasError('required')">É necessário no mínimo 6 caracteres</span>
            <span *ngIf="nome.hasError('maxlength') && !nome.hasError('required')">É necessário no máximo 8 caracteres.</span>
        </div>

        <button class="btn btn-outline-primary" (click)="mostrarStatus()">Mostrar Status</button>
        <button class="btn btn-outline-primary mx-1" (click)="resetar()">Resetar</button>
 
    </div>
</section>