.users-details{
    // border: 2px solid;

    .list{

        &__title{
            color: rgb(39, 39, 39);
            text-decoration: underline;
        }

        &__item{
            color: rgb(39, 39, 39);
            font-weight:600;
            margin-right: 5px;
            font-size: 14px;
        }
    }
}