<div class="users-details">
    <mat-list class="list">

        <mat-list-item role="listitem">
            <span class="list__title"><h3 class="mx-3 mt-1 text-center">Detalhes do Usuário</h3></span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="list__item">id:</span><span>{{user.id}}</span>
        </mat-list-item>
        <hr>

        <mat-list-item role="listitem">
            <span class="list__item">Nome:</span><span>{{user.nome}}</span>
        </mat-list-item>
        <hr>

        <mat-list-item role="listitem">
            <span class="list__item">Data Nascimento:</span><span>{{user.dataNascimento}}</span>
        </mat-list-item>
        <hr>

        <mat-list-item role="listitem">
            <span class="list__item">E-mail:</span><span>{{user.email}}</span>
        </mat-list-item>
        <hr>

        <mat-list-item role="listitem">
            <span class="list__item">Função:</span><span>{{user.funcao}}</span>
        </mat-list-item>
        <hr>

    </mat-list>      
</div>

