<div class="container">
    <div class="left-container">

        <div class="top-div">
            <!-- Conteúdo div superior -->
             <app-filter></app-filter>
        </div>

        <div class="main-left-div">
            <!-- Conteúdo da div a esquerda (80% de altura) -->
             <app-users-list></app-users-list>
        </div>
    </div>
    <div class="right-div">
        <!-- Conteúdo da div a direita -->
         <app-user-details [user]="userSelected"></app-user-details>
    </div>
</div>

 