<section style="border: 2px solid; background-color: aliceblue; width: 50%; padding: 20px;">
    <div class="">
        <h1>Property Binding</h1>
        <input [type]="inputType" 
               [value]="inputText"
               [disabled]="isDisabled"
               name="" id=""
            >
    </div>
    
    <div class="mt-3">
        <button (click)="enableInput()">Habilitar</button>
        <button (click)="disabledInput()">Desabilitar</button>
    </div>

    <div class="mt-3">
        <button (click)="setText()">Text</button>
        <button (click)="setPassword()">Password</button>
    </div>

 

</section>