<div class="user-details">
    <mat-list role="list">
    
        <mat-list-item class="u-text-title">
           <span class="h3">Detalhes do Usuário</span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span class="h5">Nome:</span> <span class="h6">{{user.nome}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Email:</span>   <span class="h6">{{user.email}}</span>

        </mat-list-item>

        <mat-list-item>
            <span class="h5">Telefone:</span> <span class="h6">{{user.telefone | phone}}</span>
        </mat-list-item>

        <mat-list-item>
            <!-- <span class="h5">Endereço:</span> <span class="h6">{{user.endereco?.rua}}, {{user.endereco?.numero}}, {{user.endereco?.cidade}} - {{user.endereco?.estado}}</span> -->
            <span class="h5">Endereço:</span> <span class="h6">{{user.endereco | address | dashIfEmpty}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Ativo:</span> <span class="h6">{{user.ativo | status | dashIfEmpty}}</span>
        </mat-list-item>
      
        <mat-list-item>
            <span class="h5">Função:</span> <span class="h6">{{user.funcao | dashIfEmpty | dashIfEmpty}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Data de Cadastro:</span> <span class="h6">{{user.dataCadastro | date:'dd/MM/yyyy' | dashIfEmpty}}</span>
        </mat-list-item>
      </mat-list>
      
</div>