<div class="user-details">
    <mat-list role="list">
    
        <mat-list-item class="u-text-title">
           <span class="h3">Detalhes do Usuário</span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span class="h5">Nome:</span> <span class="h6">Ana</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Email:</span>   <span class="h6">ana&#64;gmail.com</span>

        </mat-list-item>

        <mat-list-item>
            <span class="h5">Telefone:</span> <span class="h6">(11)9999-1243</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Endereço:</span> <span class="h6">Rua das Flores 321- Barra Paraiso - RJ</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Ativo:</span> <span class="h6">Sim</span>
        </mat-list-item>
      
        <mat-list-item>
            <span class="h5">Função:</span> <span class="h6">Desenvolvedor</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Data de Cadastro:</span> <span class="h6">20/12/2024</span>
        </mat-list-item>
      </mat-list>
      
</div>