<div class="user-details">
    <mat-list role="list">
    
        <mat-list-item class="u-text-title">
           <span class="h3">Detalhes do Usuário</span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span class="h5">Nome:</span> <span class="h6">{{user.nome}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Email:</span>   <span class="h6">{{user.email}}</span>

        </mat-list-item>

        <mat-list-item>
            <span class="h5">Telefone:</span> <span class="h6">{{user.telefone}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Endereço:</span> <span class="h6">{{user.endereco?.rua}}, {{user.endereco?.numero}}, {{user.endereco?.cidade}} - {{user.endereco?.estado}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Ativo:</span> <span class="h6">{{user.ativo}}</span>
        </mat-list-item>
      
        <mat-list-item>
            <span class="h5">Função:</span> <span class="h6">{{user.funcao}}</span>
        </mat-list-item>

        <mat-list-item>
            <span class="h5">Data de Cadastro:</span> <span class="h6">{{user.dataCadastro}}</span>
        </mat-list-item>
      </mat-list>
      
</div>